@font-face {
    src: url("../fonts/Roboto-Regular.ttf")
}

@font-face {
    src: url("../fonts/RobotoCondensed-Regular.ttf")
}

@font-face {
    src: url("../fonts/RobotoMono-Regular.ttf")
}

* {
    -fx-font-family: "Roboto Regular";
}