@font-face {
    font-family: "Custom Roboto Regular";
    src: url("../../fonts/Roboto/Roboto-BlackItalic.ttf");
}


.root-pane {
    -fx-background-color: #DFF2EB;
}

.title-bold {
    -fx-font-family: "Custom Roboto Regular";
    -fx-font-size: 64px;
}