.root-pane {
  /*-fx-background-color: #DFF2EB;*/
  -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, rgba(223, 242, 235, 1) 60%, rgba(185, 229, 232, 1) 100%);
}

.texts-container {
  -fx-alignment: CENTER;
  -fx-padding: 0 48px;
}

.title-light {
  -fx-font-size: 48px;
}

.title-black {
  -fx-fill: linear-gradient(from 58.2938% 64.455% to 95.2607% 5.2133%, #7ab2d3 0.0%, #7ab2d3 0.6711%, #4a628a 100.0%);
  -fx-font-size: 98px;
}

.creators-light-text {
  -fx-font-size: 38px;
}

.creators-container {
  -fx-spacing: 12px;
}

.creators-group-text {
  -fx-font-size: 42px;
}

.creators-name-text {
  -fx-font-size: 22px;
}

.buttons-container {
  -fx-padding: 32px 0;
  -fx-spacing: 48px;
}

.button {
  -fx-background-color: -md-surface;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.5, 0, 0);
  -fx-background-radius: 200px;
  -fx-pref-width: 400px;
  -fx-font-size: 18px;
  -fx-padding: 4px 0;
  -fx-border-radius: 200px;
}

.button:hover {
  -fx-cursor: hand;
  -fx-background-color: #90b3b5;
}

.button:pressed {
  -fx-background-color: #7a989a;
}

.primary-colored-text {
  -fx-text-fill: -md-primary;
  -fx-fill: -md-primary;
}